<!DOCTYPE html>
<html>
  <head>
    
  
    <style>
       div.main {
                width: 1000px;
               
                margin: auto;}
    
      li.box {display: inherit;
              padding: 10px 10px;
              font-size: 14px;
              color: #ffff;
              margin: 0;
              background-color:#cee0f2;
              border-color: black;
              border-radius: 5px;}
              
      span.method {background-color:#0061ac;
                  padding: 10px 10px;
                  border-radius: 5px;
                  padding: 10px 10px;
                  color: #fff;
                  font-weight:bold;}
                  
      #textbox {resize: none;
                  background-color: white;
                  height: 250px;
                  overflow: auto;
                  border-radius: 5px;}
      
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script type="text/javascript">
      function showDiv(button){
        $(button).next().toggle();
      }
    </script>
  </head>
  
  <body>
    </br>
 
      <div class='main'>
      <ul>
        <%response.each do |res|%>
            <%if res[:response]%>
                <li class='box'>
                  <span class='method'><%=res[:method]%></span> 
                  <b> <%=res[:url]%> </b>
                  </br> </br>
                  
                  <button onclick="showDiv(this)">Try it out</button>
                  
                  <div id="toggle" style="display:none">
                    <pre id='textbox'>
                      <%=JSON.pretty_generate res[:response]%>
                    </pre>
                  </div>
                  
                </li> 
                </br></br>
            <%end%>
        <%end%>
        
    </ul>
    </div>
  </body>
</html>
